:root {
  --dark-blue: #3B4C5E;
  --light-grey: #C7D3DE;
  --gray-green: #5C5C51;
  --dark-gray-green: #383D2D;
  --medium-brown: #CDBBAD;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  margin-right: 10px;
  margin-left: 10px;
}
.nav-link {
  color: white;
}

.about {
  margin-bottom: 10px;
}

.contactContainer {
  height: 550px;
}
.card {
  display: inline-block;
  border: 3px solid black;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  width: 350px;
  background: var(--light-grey)
}

h3 {
  color: var(--dark-gray-green);
  font-weight: 600;
  font-style: normal;
}

p {
    font-weight: bold;
}


.card:hover {
  background: gray;
}

.projectImage {
  width: 100%;
  height: 250px;
  border: black 2px solid;
  
}

.githubLogo {
  max-width: 30px;
}

.repository{
  color: var(--dark-gray-green)
}
.repository:hover {
  color: var(--medium-brown);
}
.logos {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
.singleLogo:hover {
  opacity: 0.5;
}